<div id="body">
  <div id="content" class="container">
    <section class="row flex-column justify-content-center align-items-center text-center pt-5" id="first-section">
      <div class="d-flex justify-content-center align-items-center">
        <h1 id="homeTitle">mods</h1>
        <img src="assets/galinha-stardew.jpg" alt="img-stardew" id="stardew-img" width="47" height="100%">
      </div>
      <div>
        <p>Jogue Stardew Valley com Mods!</p>
        <p>Baixe agora para PC.</p>
      </div>
    </section>

    <section id="second-section">
      <button (click)="downloadMods()"></button>
    </section>

  </div>
</div>
